
.body
{
    min-height: 90vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.search_text
{
    background-color: rgb(244, 242, 242);
    width: 95%;
    height: 10vh;
    display: flex;
    padding-left: 5%;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    border-top:solid 2px rgba(1, 1, 1, 0.2);
    border-bottom :solid 2px rgba(1, 1, 1, 0.2)
}

.result_container
{
    background-color: rgb(244, 242, 242);
    min-height: 82vh;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
}
.result_container .informational
{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom :solid 2px rgba(1, 1, 1, 0.2);
    padding-bottom: 1%;

}
.result_container .informational .element
{
    display: flex;
    align-items: center;
    margin-top:1%;
}
.result_container .informational .container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.picture
{
    width: 300px;
    height: 200px;
    z-index: 1;
    position: relative;
    border-radius: 10px;
}

.result_container .informational .element .content
{
    width: 400px;
    height: 170px;
    background-color: white;
    margin-left: -1%;
    z-index: 0;
    position: relative;
    text-align: center;
    padding-left: 2%;
    padding-top:1%;
    box-shadow: 2px 2px 10px 3px rgba(1, 1, 1, 0.2);

}
.name
{
    margin-bottom: 1%;
    font-size: large;
}
.readMore
{
    margin-left: 50%;
    border: none;
    background-color: none;
    cursor: pointer;
    background-color: transparent;
}

.readMore:hover
{
    text-decoration: underline;
}
.texte
{
    width:fit-content;
    text-align: center;
    align-self: center;
    font-size: 1.4em;
    padding: 1%;
}

.pets_container
{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.pets_container .element
{
    width: 80vw;
    height: 10vh;
    background-color: red;
    margin-bottom: 1%;
    border-radius: 15px;
}
@media (max-width: 750px) {
    .picture
{
    width: 35%;
    height: 20vh;
}
.result_container .informational .element .content
{
    width: 60%;
    height: fit-content;

}
}