@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
    min-height: 100vh;
  }

  .content
  {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .form
  {
    background-color: white;
    min-width: 60vw;
    min-height: 60vh;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px 4px rgba(1, 1, 1, 0.2);
    width: 60vw;
    min-width: max-content;
  }
  
  .lateral_buttons
  {
    display: flex;
    flex-direction: column;
    background-color: #C8D5B9;
    width: 20%;
    min-width: fit-content;
    min-height: 60vh;
  }

  .button 
  {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 18px;

  }
  .button_active
  {
    border: 2px solid rgba(1, 1, 1, 0.2);
    border-left: 0px;
    background-color: #4a7c5959


  }

  .button:hover
  {
    border: 2px solid rgba(1, 1, 1, 0.2);
  }
  .form_inputs
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    flex-wrap: wrap;
  }

  .elements
  {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
  }

  .input {
    width: 80%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;
    padding-left: 2%;
  }
.select{
    height: fit-content;
    align-self: baseline;
    margin-top: auto;
    padding: 1%;
    width: 30%;
    margin-left:5%;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(1, 1, 1, 0.2);
    font-size: 15px;
    min-width: fit-content;
  
}
.title
{
    margin-bottom: 5%;
    font-size: 1.2em;
    max-width: 80vw;
}
.button_send
{
   display: flex;
   flex-direction: row;
   width: fit-content;
   padding-top: 2%;
   padding-bottom: 2%;
   padding-left: 5vw;
   padding-right: 5vw;
   background: rgb(220, 236, 230);
   border:none;
   outline: none;
   border-radius:40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, .1);
   cursor: pointer;
   font-size: 16px;
   font-weight: 600;
   margin-top: 4%;
  align-self:center;
  margin-bottom: 2%;
  margin-top: 40%;
}

.response
 {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 4px rgba(1, 1, 1, 0.2);
    width: 40%;
    display: flex;
    min-width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    position: absolute;
    
 }
 .response_padding
 {
    padding-top: 4%;
 }

 .responseImage
 {
    width: 150px;
    height: 150px;
    margin-top: 1%;
 }

 .imageContainer
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
 }

 .text
 {
    font-size: 1.4em;
    margin-top: 5%;
 }

 .botton_cancel
 {
   font-size: 30px;
   color: red;
   align-self: flex-end;
   cursor: pointer;
   margin-right: 2%;
   margin-bottom: 4%;
   margin-top: 1%;
 }

 .form_blur
 {
  filter: blur(10px);
 }
 .response {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 4px rgba(1, 1, 1, 0.2);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  position: absolute;
  top: calc(50% - 2%); 
  left: 50%;
  transform: translate(-50%, -45%);
  margin-bottom: 2%; 
}

.response_padding {
  padding-top: 4%;
}
.star
{
  background-color: hsla(0, 73%, 97%, 0.619);
  width: 80%;
  height: auto;
  border: 1px solid rgb(147, 147, 147);
  animation: fadeIn 1s ease-in-out forwards;
  border-radius: 10px;
  padding: 1%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
      display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.star .starInfo
{
  margin-top: 1%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.star .starInfo img
{
  width: 300px;
  height: 20px;
}

.left_part
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: none;
}
.buttons
{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 4px rgba(1, 1, 1, 0.2);
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4%;
  padding-top: 4%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}
.petChooseCat
{
  min-height: 34vh;
  min-width: 16vw;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(./cat.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.petChooseDog
{
  min-height: 34vh;
  min-width: 16vw;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(./dog.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.petChooseCat:hover
{
  transform: translateY(-5%);
}

.petChooseDog:hover
{
  transform: translateY(-5%);
}
@media (max-width: 1300px)
{
  .response
  {
    width: 60%;
  }
}

@media (max-width: 1100px)
{
  .petChooseCat
  {
    min-width: 25vw;
  }
  .petChooseDog
  {
    min-width: 25vw
  }
  .form
  {
    width: 70vw;
  }
  .response {
    width: 70%;
    transform: translate(-50%, -40%);

  }
}
@media (max-width: 900px)
{
  .petChooseCat
  {
    min-width: 30vw;
  }
  .petChooseDog
  {
    min-width: 30vw
  }
  .response
  {
    transform: translate(-50%, -30%);

  }
}
@media (max-width: 700px)
{
  .buttons
  {
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .petChooseCat
  {
    min-width: 40vw;
  }
  .petChooseDog
  {
    min-width: 40vw
  }
  .elements
  {
    display: flex;
    flex-direction: column;
  }
  .lateral_buttons
  {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction:row ;
    
  }
  .button
  {
    width: 50%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }
  .form
  {
    width: 80vw;
    margin-left: 1%;
    margin-right: 1%;
 
  }
  .response {
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    transform: translate(-50%, -30%);

  }
}
@media (max-width: 550px)
{
  .input {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .select
  {
    align-self: center;
  }
  .star .starInfo img
{
  width: 200px;
  height: 15px;
}
.star .starInfo
{
  font-size: 0.6em;
}
.star{
  min-width: fit-content;
}
.response
{
  font-size: 0.8em;
  text-align: center;
  transform: translate(-50%, -40%);

}
.responseImage
 {
    width: 100px;
    height: 100px;
    margin-top: 1%;
 }
}

.content_form
{
  max-height: 90vh;
  max-width: 100vw;
}