@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-size: 1em;
    background-color:transparent;
    flex-direction: row;
  }
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
}


.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50%;
  }
  
  .nav-links li {
    padding: 0 5px;
    margin-right: 3%;
    width: 100%;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #FAF3DD;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: flex-end; 
  }

  .logo
  {
    width: 150px;
    height: 55px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-left:1%;
  }
  .logo_picture
  {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 55px;
    background-image: url('./logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: none;
    cursor: pointer;
  }
  .logo_text
  {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
    width: 100px;
    color: black;
    align-self: center;
    font-size: 30px
  }

@media (max-width: 768px) {
    .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 5px 5px;
      flex-direction: row;
      z-index: 1;
    }
    
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      z-index: 1;
    }
    
     .list
     {
      position: absolute;
      width: 50%;
      height: 0;
     }
  
    .nav-links.open {
      position: relative;
      display: flex;
      margin-bottom: auto;
      background-color: rgba(85, 82, 82, 0.742);
      color: white;
      margin-right: inherit;
      width: 100%;
      padding: 0%;
      margin-top: auto;
    }
  
    .menu-icon {
      display: flex;
      padding: 0.5%;
    }
    .navbar
    {
      display: flex;
      flex-direction: row;
    }
  }

.start
{
  text-decoration: none;
  border: solid 2px;
  margin-right: 0%;
  padding: 0.5%;
  border-radius: 1%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
  cursor: pointer;
}
.start:hover
{
  color: #FAF3DD;

}
  
