@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
.body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lily Script One', cursive; 
    font-size: medium;
    font-size: 1em;
    background-color:#d3f3dd;
    flex-direction: row;
  }
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px;
  font-family: 'Lily Script One', cursive; 
  font-size: medium;
  font-size: 1em;
  width: 100%;
}


.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    width:fit-content;
  }
  
  .nav-links li {
    padding: 0 5px;
    margin-right: 10%;
    width: 100%;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: rgb(211, 211, 211);
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: flex-end; 
  }

  .logo
  {
    width: 150px;
    height: 55px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }
  .logo_picture
  {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 55px;
    background-image: url('./logo.png');
    background-size: contain;
    box-sizing: none;
    cursor: pointer;
  }
  .logo_text
  {
    font-family: 'Lily Script One', cursive; 
    width: 100px;
    color: black;
    align-self: center;
    font-size: 25px;
  }
  .default_buttoms
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
.search {
  border: none;
  border-radius: 50px;
  margin-right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(./DesignPictures/pet_search_result.png__1_-removebg-preview.png);
  background-color: transparent;
  background-size: contain;
}

.search:hover {
  border: 1px solid black; 
}
.search_active {
  border: 1px solid black; 
  border-radius: 50px;
  margin-right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(./DesignPictures/pet_search_result.png__1_-removebg-preview.png);
  background-color: transparent;
  background-size: contain;
}
.pets
{
  border: none;
  border-radius: 50px;
  margin-right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(./DesignPictures/pet_home_result.png-removebg-preview.png);
  background-color: transparent;
  background-size: contain;
}
.pets:hover {
  border: 1px solid black; 
}

.profile
{
  border: none;
  border-radius: 50px;
  margin-right: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(./DesignPictures/profile-removebg-preview.png);
  background-color: transparent;
  background-size: contain;
}
.profile:hover {
  border: 1px solid black; 
}
.searchInput {
  position: relative;
  top: 0; 
  right: 0; 
  width: 20vw;
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  height: 28px;
  margin-right: 0.5vw;
  margin-left: -21.3vw;
  z-index: 1;
}

.searchInput:focus
{
  border: none;
  border-width: 0.5px;
}
.searchInputSmall {
  display: none;
}
.home
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #121010; 
  width: 80px;
  padding: 2%;
  margin-top:-10px;
  margin-bottom: -10px;
  border-radius: 7px;
  margin-right: 10%;
}
.page_home
{
  width: 40px;
  background-image: url(./DesignPictures/60bcb2a467fce67904e84ee31d509fac-removebg-preview.png);
  background-size: contain;
}
.page_dog
{
  width: 40px;
  background-image: url(./DesignPictures/e9bafb0327bde3594ec16b3a15365741-removebg-preview.png);
  background-size: contain;
}
.page_cat
{
  width: 40px;
  background-image: url(./DesignPictures/1d2601b54fd924aff37b6d5b6ea1f846-removebg-preview.png);
  background-size: contain;
}
@media (max-width: 768px) {
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 5px;
      flex-direction: column;
      z-index: 1;
    }
    
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      z-index: 1;
    }
    
     .list
     {
      position: absolute;
      width: 50%;
      height: 0;
     }
  
    .nav-links.open {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      background-color: rgba(255, 255, 255, 0.96);
      margin-right: inherit;
      width: 70%;
      padding: 0%;
      margin-left: 15%;
    }
  
    .menu-icon {
      display: flex;
    }
    .menu-icon.open {
      display: flex;
      color:rgb(255, 255, 255);
      border: 1px solid black; 
      border-radius: 10px;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 2%;
      padding-bottom: 2%;
      color: white;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }

    .search_small_weight
    {
      width: 80vw;
      height: 7vh;
      background-color:rgb(190, 190, 190);
      margin-top:1%;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10vw;
    }
    .searchInputSmall {
      display: flex;
      position: relative;
      width: 70vw;
      padding: 5px; 
      border: 1px solid #ccc; 
      border-radius: 4px;
      height: auto;
      margin-right: 0.5vw;
    }
    
    .searchInputSmall:focus
    {
      border: none;
      border-width: 0.5px;
    }
    .searchInput {
      display: none;
    }

    .nav-links li:hover {
      width: 90%;
      background-color: rgb(180, 181, 181);
      margin-left: 15%;
    }
    .nav-links a:hover {
      color: white;
    }
  }
  
