.body {
  background-color: #1f9340; /* green background */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full height of the viewport */
}

.container {
  width: 300px;
  height: 200px;
  background-color: red; /* red container */
}