
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.body
{
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:black;
    background-image: url(./DesignPictures/dogoo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

}

.wrapper
{
    width: 35vw;
    padding-right: 1%;
    background: transparent;
    border-radius:10px;
    padding-top: 2%;
    padding-bottom: 1%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.wrapper h1 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

.wrapper .input_box
{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px 0;
}

.input_box input{
    height: 100%;
    width: 80%;
    background: transparent;
    border:none;
    outline:none;
    border:  2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 2px 5px 2px 5px;
    margin-left: 10%;
}

.input_box input::placeholder
{
    color: rgb(67, 67, 67);
}

.input_box .icon
{
    position: absolute;
    transform:translateY(90%);
    font-size:18px;
    margin-left: -8%;
}

.forgot
{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-left: auto;
}

.forgot_pass_bottom
{
    color:rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    margin-right: 3%;
}

.forgot_pass_bottom:hover{
    text-decoration: underline;
}

.login
{
    width: 72.5%;
    height: 45px;
    background: rgb(233, 231, 231);
    border:none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 2%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15%;
}

.register
{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: black;
    margin-bottom: 3%;
}
.register_button
{
    text-decoration: none;
    border:none;
    outline: none;
    color: black
}

.register_button:hover
{
    text-decoration: underline;
}
.error
{
    color: red;
    align-self: center;
    justify-content: center;
    text-align:  center;
    font-size: 16px;
    font-weight: 400;
}
.forgot_password_container
{
  z-index: 1000;
}
.message_box {
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: none;
    box-shadow: 10px 10px 10px 10px rgba(31, 69, 73, 0.5);
    z-index: 9999;
    position: absolute;
    filter: none;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .message_box input
  {
    height: 100%;
    width: 80%;
    background: transparent;
    border:none;
    outline:none;
    border:  2px solid rgba(0, 0, 0, 0.77);
    border-radius: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 2%;  
    margin-top:2%;
    margin-bottom: 2%; 
    
  }

  .botton_cancel
  {
    font-size: 30px;
    color: red;
    align-self: flex-end;
    margin-bottom: 1%;
  }
  .botton_send
  {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background: rgb(220, 236, 230);
    border:none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
  
  }

  .send_icon
  {
    margin-top:2%
  }
  @media  (max-width:1000px) {
    .wrapper
    {
        width: 60vw;
    }
    .message_box
    {
        width: 50vw;
    }
  }

  
  @media  (max-width:600px) {
    .wrapper
    {
        width: 80vw;
      
    }
    .message_box
    {
        width: 60vw;
    }
  }