@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.body{
    width: 100%;
    background-color:#A4CCB9;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    min-height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    display:flex;
}

.but {
    display: initial;
    width: 40%;
    height: 45px;
    background: rgb(255, 255, 255);
    border:none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 2%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-left: -2%;
  }
  
.but:hover {
    color:rgb(56, 91, 80);
  }


.adaugare
{
    background-image: url(./DesignPictures/close-up-adorable-cat-with-copy-space.jpg);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-top:2%;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-style:italic;
    margin-left: -0.5%;
    align-items: center;
    /* background-color: rgba(233, 233, 233, 0.626); */
    align-self: center;
    margin-left: 5%;
    align-items: center;
    padding-bottom: 2%;
}

.formInputs
{
    display: flex;
    flex-direction: row;
}

.part
{
  width: 50%;
}
.adaugare .form
 {
    width: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height:fit-content;
    margin-left: 5%;
    padding-bottom:2%;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);

 } 
 .form .textBox
 {
        align-self: center;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-family:inherit;
        font-weight: bold;
        position: relative;
        font-size: 2.5em;
        margin-bottom: 1em;
        margin-top:1em;
        font-weight: 700;
 }
 .input{
    width: 80%;
    background: transparent;
    border:none;
    outline:none;
    border:  2px solid rgba(0, 0, 0, 0.881);
    border-radius: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 2%;  
    margin-top:2%;
    margin-bottom: 2%; 
  }
.picture
{
    width: 40vw;
    height: 75vh;
    background-position: right ;
    background-size:contain;
    background-repeat: no-repeat;
} 

@media screen and (max-width: 650px) {
 .body
 {
    height: 100vh;
 }
.adaugare .form
{
   width: 80%;
   margin-top: 10%;

} 

.input{
   font-size: 1.2em;
}
.form .textBox
{

       font-size: 1.5em;

}
.but
{
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 1.3em;
}
}
@media screen and (max-width: 1100px) and (min-width: 1000px)  {
    .picture
    {
        width: 30%;
        height: 50vh;
    }
}
@media screen and (max-width: 800px)  {
    .body
    {
        height: fit-content;
    }
    .formInputs
    {
        display: flex;
        flex-direction:column ;
        width: 100%;
    }
    .input
    {
        width: 100%;
    }
    .part
    {
        width: 100%;
    }
    .form
    {
        box-shadow: 0%
    }
}


@media screen and (max-width: 650px){
    .picture
    {
        display: none;
    }
    .body
    {
        height: fit-content;
        padding-bottom: 5%;
    }
    .formInputs
    {
        display: flex;
        flex-direction:column ;
        width: 100%;
    }
    .input
    {
        width: 100%;
    }
    .part
    {
        width: 100%;
    }
    .adaugare
    {
        margin-top: 10%;
    }
    .form
    {
        box-shadow: 0%
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px)  {
    .picture
    {
        display: none;
    }
    .descriere .textBox
    {
        font-style:italic;
        padding-left: 2%;
        padding-top: 1%;
        font-size:4vi;
        color:black;
        width:100%;
    }
    .but
    {
        font-size: 2vi;
    }
    .adaugare .form
  
    { 
        width: 80%;
      

    }

    .input{
        font-size: 1.5em;
    }
    

}
.error
{
    color:red;
    font-size: 1em;
    align-self: center;
    margin-bottom: 2%;
}

.error ul
{
    display: initial;

}