@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    min-height: 95vh;
    font-family: 'Trebuchet MS', sans-serif;
    padding-bottom: 1%;
}

.container_pet {
    display: flex;
    transition: transform 0.6s;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 0;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 7px 7px 15px 7px rgba(2, 2, 2, 0.2);
    min-height: 75vh;
}

.petsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
    padding-bottom: 3%;
}

.petContainer {
    margin-top: 3%;
    width: 275px;
    height: 275px;
    margin-right: 3%;
    margin-left: 2%;
}

.front,
.back {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 1s;

}

.back {
    box-shadow: 5px 5px 15px 5px rgba(1, 1, 1, 0.2);

}

.front {
    transform-style: preserve-3d;
    box-shadow: 5px 5px 15px 5px rgba(1, 1, 1, 0.2);
}

.petContainer:hover .front {
    transform: rotateY(180deg);
}

.petContainer:hover .back {
    transform: rotateY(0deg);
    background-color: #faf7ef;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.title {
    padding-top: 2%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: 550;
}

.infos {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 55%;
    margin-top: 5%;
}

.more {
    text-decoration: none;
    border: solid 1.5px;
    margin-right: 1%;
    padding: 3%;
    border-radius: 1%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: black;
    cursor: pointer;
    background-color: transparent;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 22%;
    margin-top: 7%;
}

.more:hover {
    color: rgb(78, 125, 78);
}

.add {
    margin-top: 3%;
    width: 275px;
    height: 275px;
    background-image: url('./DisplayPicture/add-removebg-preview.png');
    background-color: #faf7ef;
    transform: rotateY(0deg);
    background-color: #faf7ef;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add:hover {
    transform: translateY(-10%);

}

.petName {
    text-align: center;
    background-color: #e0f6f0;
    color: rgb(0, 0, 0);
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: larger;
    box-shadow: 0px -20px 20px 20px #e0f6f0;
    z-index: 1;
    border-radius: 10px;
    margin-top: -5%;
    position: relative;
    width: 100%;
}